html {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    margin: 15px 50px;
    text-align: center;
    color: #1e248e;
    background-color: #9cf4e6;
    font-family: 'Montserrat', sans-serif;
}